.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
  }

.section-header {
  margin-bottom: 10px;
  }

/* filters */
ul.genre-filter {
  margin: 10px 0!important;
  padding: 0;
  }

ul.genre-filter li {
  display: inline-grid;
  margin-bottom: 5px;
  }

ul.genre-filter li a{
  transition: .25s all ease-out;
  background: transparent;
  color: #1f4889;
  border: 2px solid #1f4889;
  padding: 4px 8px;
  margin: 0 10px 0 0;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-decoration: none;
  }

ul.genre-filter li a:hover{
  /*background: #1f4889;*/
  /*color: #fff;*/
  border: 2px solid #1f4889;
  text-decoration: underline;
  }

ul.genre-filter li a.active{
  background: #1f4889;
  color: #fff;
  }

label.genre-filter-label {
  color: #1F4889;
  font-family: Oswald, Roboto, sans-serif !important;
  }

.entry-header {
  margin: 0;
  }

.entry-header .entry-thumbnail {
  margin: 11px 0;
  }

/* reduce margin under breadcrumbs */
.yoast-seo-breadcrumb {
  margin-bottom: 1em;
  }

#sidebar-right {
  width: 100%;
  }

a.book-btn {
  width: 99%;
  margin: 0 auto 5px auto;
  padding: 12px 0;
  display: block;
  transition: all .2s ease-in-out;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-style: 600 !important;
  font-family: Oswald, Roboto, sans-serif !important;
  border-bottom: 1px outset #fff;
  border-right: 1px outset #fff;
  }

a.book-btn:hover {
  text-decoration: underline;
  }

/* buy button */
a.buy-button {
  background: #FFD582;
  color: #0c152d;
  }

a.buy-button:hover {
  color: #0c152d;
  }

a.info-button {
  background: rgb(23, 35, 63);
  padding: 12px 0;
  color: #fff;
  }
a.info-button:hover {
  color: #fff!important;
}

.post-type-archive-book .bookcover-inner:before{
  content: none!important;
  }

a.more-link {
  display: block;
  }

/* grid */
.book-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  grid-gap: 1%;
  }

.book-grid .book{
  position: relative;
  }

h1.archive-title {
  font-weight: bold;
  }

.about-link{
  max-width: 325px;
}

.center-text {
  text-align: center;
}


/* responsive styling */

/* large screens */
@media (min-width: 800px){
  .entry-footer {
    min-height: 100px;
  }


  .has-right-sidebar .site-main {
    width: 74%!important;
    }

  .has-right-sidebar #sidebar-right{
    width: 24%!important;
    }

  main#site-main {
    border-right: 1px dashed #ccc;
    padding-right: 1%;
    }

  article.book a.buy-button{
    display: block;
    position: relative;
    opacity: 0;
    top: -10px;
    }

  article.book:hover  a.buy-button{
    opacity: 1;
    top: 0px;
    }

  article.book {
    position: absolute;
    width: 100%;
    z-index: 999;
    height: 100%;
    }


  article.book a.info-button {
    opacity: 0;
    transition: all .2s ease-in-out;
    top: 10px;
    position: relative;
    }

  article.book:hover a.info-button {
    opacity: 1;
    top: 0px;
    }


  }

@media screen and (max-width: 799px){

  .entry-footer {
    min-height: 0px!important;
  }


  article.book a.info-button {
    display: none;
  }

  #sidebar-right {
    padding-top: 10%;
    }

  article.book .entry-footer{
    display: block;
    }

  /* mobile filters */
  ul.genre-filter li {
    display: grid;
    text-align: center;
    margin-bottom: 1%;
    }
  }


@media (max-width: 523px){
  .book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px,1fr));
    }
  }


/* end media query */

/* SIDEBAR */

.about-author-headline {
  margin: 0;
  color: #17233f;
  font-size: 1.75em;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  letter-spacing: -1px;
  word-spacing: -1px;
  font-weight: 600 !important;
  font-family: Oswald, Roboto, sans-serif !important;
  text-shadow: none!important;
  }

.about-author-image {
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
  }
    .about-author-image img {
      /* circle crop */
      border-radius: 500px;
      border-width: 4px;
      border-style: solid;
      border-color: white;
      border-image: initial;
    }

p.about-author-copy {
  padding: 10px 0px;
  font-size: 18px;
  font-style: italic;
  text-align: justify;
  max-width: 325px;
  margin: 0 auto;
  }

h3.series-heading {
  text-transform: uppercase;
  line-height: 1;
  font-size: 1.5em;
  margin: .75em 0 .25em 0!important;
  font-family: Oswald, Roboto, sans-serif !important;
  border-bottom: 1px dashed #ccc;
  padding-bottom: .5em;
  }

h3.search-heading {
  text-transform: uppercase;
  line-height: 1;
  font-size: 1.5em;
  margin: .75em 0 .25em 0!important;
  font-family: Oswald, Roboto, sans-serif !important;
  padding-bottom: .5em;
  }

ul.series-list {
  list-style: none;
  padding: 0;
  }

.slick-search{
  padding: 8px!important;
  }

.left-border-radius{
  border-top-left-radius: 5px!important;
  border-bottom-left-radius: 5px!important;
  border-top-right-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
  }

.right-border-radius {
  border-top-right-radius: 5px!important;
  border-bottom-right-radius: 5px!important;
  border-top-left-radius: 0px!important;
  border-bottom-left-radius: 0px!important;
  }