@import url('https://fonts.googleapis.com/css?family=Oswald:500,600');

/**
 * Theme Name:  Make (child theme)
 * Theme URI:   https://thethemefoundry.com/make/
 * Author:      The Theme Foundry
 * Author URI:  https://thethemefoundry.com
 * Description: Create your website without touching a line of code. Make's flexible customization features and a powerful drag and drop page builder make designing your site fun and easy. Build almost anything: a simple portfolio or photography site, an ecommerce business site, a minimalist blog, or even a professional magazine. You'll start by customizing your background, layouts, fonts, colors, and logo. Next, add and organize your content using the drag and drop page builder. Add a photo, a video, a gallery, or even a slider to any page on your website. Make is responsive, so your website will naturally look great on phones, tablets, and desktop screens. It's also fully compatible with popular plugins like WooCommerce, Gravity Forms, Contact Form 7, Jetpack, and WP PageNavi.
 * Version:     1.1.0
 * License:     GNU General Public License v2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Template: make
 * Text Domain: make-child
 * Domain Path: /languages/
 * Tags:        black, blue, green, gray, orange, red, white, yellow, dark, light, one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, fixed-layout, fluid-layout, responsive-layout, buddypress, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, photoblogging
 *
 * Make WordPress Theme, Copyright 2015 The Theme Foundry
 * Make is distributed under the terms of the GNU GPL
 */

/*
 * Add your custom styles below.
 * This version of the Make child theme is only compatible with Make 1.6.0 and above.
 */

/* Show covers in 2 columns on mobile. */
.builder-gallery-item {
    width: 49%; 
}

/* Make images in blog post list on homepage smaller */
.builder-section-postlist .ttfmp-post-list-item-thumb.position-left { width: 15%; }

/* indent block quotes slightly */
blockquote { margin: 2.2rem 0 2.2rem 4rem; }

/* make bio text white on homepage */
.home-bio-section, .home-bio-section a { color: white; }

/* make blog post titles bigger on homepage in post list */
.ttfmp-post-list-item-title { font-size: 120%; line-height: 100%; }

/* round edges of search field to match other inputs */
.search-field {
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px; }

/*****************************************************************/
/* Custom Homepage using ACF
/*****************************************************************/

/* Page Resets */
/* -------------------------- */
.page-template-homepage-acf .site-content,
.page-template-homepage-acf .site-main,
.page-template-homepage-acf .site-content .container {
	float: none;
	max-width: none;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Oxygen-Sans, Cantarell, Helvetica Neue, Helvetica, Arial, sans-serif;
}


/* Max-width fix */
.page-template-default .container,
.page-template-template-builder .container,
.blog .container,
.single .container {
  max-width: 1280px!important;
  padding: 0!important;
}



@media (max-width: 1024px ){
  .page-template-default .container,
  .page-template-template-builder .container,
  .blog .container,
  .single .container {
    padding: 1.5rem!important;
  }
}


@media (max-width: 799px){

  .page-id-22 .wp-image-3262 {
    float: none!important;
    display: block!important;
    margin-left: 0!important;
    margin-bottom: 1em!important;
  }

  blockquote {
    margin: 1.1rem 0 1.1rem 2rem!important;
  }

}

.page-template-default .builder-section-text .builder-section-content {
  max-width: 1280px!important;
  margin: 0 auto!important;
}


.builder-section-gallery .builder-section-content, .builder-section-text .builder-section-content, .builder-section-blank .builder-section-content {
  max-width: 1280px!important;
}


/* Header Bar */
/* -------------------------- */

/* Note: these styles not used as header bar removed from the PHP */
/* Left here just in case later needed */

.page-template-homepage-acf .header-bar {
	float: none;
	padding: 0 1rem;
	display: none;
}
.page-template-homepage-acf .header-bar .container {
	max-width: 1400px;
	padding: 0;
}

/* Site Header */
/* -------------------------- */
.site-header {
	float: none;
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
}
.site-header-main {
	float: none;
	padding: 1.25rem 1rem;
	background: #0C162F;
}
.site-header-main .container {
	max-width: 1400px;
	padding: 0;
}
.site-branding,
.site-nav-search {
	float: none;
	max-width: none;
	text-align: center;
}

.site-branding a.custom-logo-link {
	max-width: 180px;
	margin: 0;
	transform: translateY(20%);
}
.site-branding .site-description {
	margin: 0;
	text-transform: none;
}
.site-nav-search .search-field,
.site-nav-search input[type="search"],
.site-nav-search .search-submit {
	padding: 0.33em 1em;
	font-size: 14px;
	font-weight: bold;
	background-color: #eee;
}
.site-nav-search .search-submit {
	background: #1F4889;
	color: white;
}

@media screen and (max-width: 799px) {
	.site-branding a.custom-logo-link {
		max-width: 120px;
		margin: 0 auto;
	}
	.site-branding .site-description {

	}	
}
@media screen and (min-width: 800px) and (max-width: 1199px) {
	.site-header-main {
		padding: 1.5rem 2rem;
	}
	.site-nav-search {
		margin: 1rem 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media screen and (min-width: 1200px) {
	.site-header-main .container {
		display: flex;
		padding: 1rem;
	}
	.site-branding {
		float: none;
		text-align: left;
		max-width: none;
		display: flex;
		align-items: center;
	}
	.site-branding .site-description {
		margin-left: 1rem;
	}	
	.site-nav-search {
		margin-left: auto;
		display: flex;
		align-items: center;
	}
}

/* Site Navigation */
/* -------------------------- */
.site-navigation {
	float: none;
	max-width: none;
}
.site-navigation .menu {
	margin: 0;
}	
.site-navigation .menu-toggle {
	margin: 1rem 0;
	background: rgba(5,19,62, 0.75);
}

.site-navigation .menu li a,
.site-navigation .menu-toggle {
	color: white;
	text-align: center;
}
.site-navigation .menu li a:hover,
.site-navigation .menu li a:focus,
.site-navigation .menu-toggle:hover {
	text-decoration: underline;
}
@media screen and (max-width: 799px) {
	.site-navigation .menu {
		margin: 0 0 1rem;
	}	
	.site-navigation .menu li a {
		background: rgba(5,19,62, 0.5);
		margin: 2px 0;
		border: 0;
	}
}

/* Override Thrive Form styles */
/* -------------------------- */
.page-template-homepage-acf .thrv-leads-form-box {
	padding-left: 0 !important;
	padding-right: 20px !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	border: 0 !important;
	background: none !important;
	margin-left: -15px; /* due to crazy use of padding in Thrive's column flexboxes */
}
.page-template-homepage-acf .thrv_wrapper {
	margin: 0 !important;
}
.page-template-homepage-acf #tve_32_set .thrv_lead_generation input[type="text"],
.page-template-homepage-acf #tve_32_set .thrv_lead_generation input[type="email"],
.page-template-homepage-acf #tve_32_set .thrv_lead_generation input[type="password"] {
	background-color: white;
	border: 3px solid white;
}
.page-template-homepage-acf #tve_32_set .thrv_lead_generation input[type="text"]:hover,
.page-template-homepage-acf #tve_32_set .thrv_lead_generation input[type="email"]:hover,
.page-template-homepage-acf #tve_32_set .thrv_lead_generation input[type="password"]:hover,
.page-template-homepage-acf #tve_32_set .thrv_lead_generation input[type="text"]:focus,
.page-template-homepage-acf #tve_32_set .thrv_lead_generation input[type="email"]:focus,
.page-template-homepage-acf #tve_32_set .thrv_lead_generation input[type="password"]:focus {
	background-color: white;
	border-color: #fc5e5e;
}
.page-template-homepage-acf #tve_32_set .thrv_lead_generation button {
	border: 3px solid #fc5e5e;
	text-transform: uppercase;
	font-weight: 700;
}

/* Buttons */
/* -------------------------- */
.mh-button {
	padding: 0.625em 3em;
	display: inline-block;
	border-radius: 100px;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
	font-style: 600 !important;
	font-family: Oswald, Roboto, sans-serif !important;
	background-color: #fff;
	color: #0c152d;
}

/* Module Overlay */
/* -------------------------- */
.mh-module-overlay {
	z-index: 1 !important;
	position: absolute !important;
	top: 0; right: 0; bottom: 0; left: 0;
	opacity: 0.5;
}

/* Module: Hero Area */
/* -------------------------- */
.mh-module-hero {
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: left center;
	background-repeat: no-repeat;
}
.mh-module-hero-text {
	max-width: 600px;
	max-width: 64ch;
	padding: 4rem 2rem;	
	font-size: 20px;
	text-align: center;
	color: white;
}
.mh-module-hero-text-title,
.mh-module-hero-text-subtitle {
	text-transform: uppercase;
	line-height: 1;
	font-weight: 600 !important;
	font-family: Oswald, Roboto, sans-serif !important;
	text-shadow: 0 0 20px rgba(18,14,73,0.75);
}
.mh-module-hero-text-title {
	margin: 0;
}
.mh-module-hero-text-description {
	padding: 2rem 2rem 2.75rem;
	text-shadow: 0 0 50px rgba(18,14,73,0.75);
}
.mh-module-hero-image {
	max-width: 700px;
	padding: 4rem 2rem;
}
.mh-module-hero-image img {
	display: block;
	width: 100%;
	max-width: 300px;
}

@media screen and (max-width: 959px) {
	.mh-module-hero {
		flex-direction: column;
	}
	.mh-module-hero-text {
		font-size: 16px;
	}
	.mh-module-hero-image {
		padding-top: 0;
	}
	.mh-module-hero-text-title {
		font-size: 2.5em !important;
	}
	.mh-module-hero-text-subtitle {
		font-size: 1.25em !important;
	}
}

@media screen and (min-width: 640px) {
	.mh-module-hero-text-title {
		font-size: 3.25em !important;
	}
	.mh-module-hero-text-subtitle {
		font-size: 1.625em !important;
	}
}

@media screen and (min-width: 960px) {
	.mh-module-hero {
		background-position: center center;
	}
	.mh-module-hero-text-title {
		font-size: 4.15em !important;
	}
	.mh-module-hero-text-subtitle {
		font-size: 1.75em !important;
	}
	.mh-module-hero-image {
	}
	.mh-module-hero-image img {
		max-width: 320px;
	}	
}

@media screen and (min-width: 1400px) {
	.mh-module-hero-text {
		font-size: 24px;
	}
	.mh-module-hero-image {
		padding-left: 4%;
	}
	.mh-module-hero-image img {
		max-width: 400px;
	}
}

@supports (transform-style: preserve-3d){
	.bookcover {
		position: relative;
		left: -10%;
		perspective: 800px;
		perspective-origin: 33% 33%;
	}
	.bookcover-inner {
		transform-origin: right center;
		transform-style: preserve-3d;
		transform: scaleX(0.925) rotateY(-15deg);
		will-change: transform;
		outline: 1px solid transparent;
		transition:	transform 0.3s ease-in-out;		
	}
	.bookcover img {
		position: relative;
		display: block;
		outline: 1px solid transparent;
	}
	.bookcover-inner:before {
		display: block;
		position: absolute;
		content: "";
		z-index: 5;
		top: 0; bottom: 0;
		left: 0; right: 0;
		outline: 1px solid transparent;
		background-image:
			linear-gradient(
				to right,
				rgba(255,255,255,0.25) 0,
				transparent 5%,
				transparent 100%
			),
			linear-gradient(
				to bottom left,
				rgba(255,255,255,0.33) 0,
				transparent 33%,
				transparent 100%
			);			
	}
	.bookcover-inner:after {
		display: block;
		position: absolute;
		content: "";
		z-index: -1;
		top: 0;
		height: 100%;
		width: 15%;
		left: 100%;
		outline: 1px solid transparent;
		transform-style: preserve-3d;
		transform-origin: left center;
		transform: rotateY(60deg);
		transition:	transform 0.3s ease-in-out;
		will-change: transform;
		background-color: #ffe;
		background-image: url(img/pages.png);
		background-repeat: repeat-y;
		background-size: 100%;
	}
}

/* Module: Other Books */
/* -------------------------- */
.mh-module-otherbooks {
	padding: 4rem 2rem 2rem;
	text-align: center;
	font-size: 14px;
}
.mh-module-otherbooks-title {
	margin: 0;
	text-transform: uppercase;
	line-height: 1;
	font-size: 3em;
	font-weight: 600 !important;
	font-family: Oswald, Roboto, sans-serif !important;
	color: #244e9a;
}
.mh-module-otherbooks-subtitle {
	margin: 0.125em 0 0;
	line-height: 1.15;
	font-size: 1.5em;
}
.mh-minimodule-book {
	display: flex;
	align-items: flex-start;
	text-align: left;
	max-width: 60rem;
	margin: 3rem auto;
}
.mh-minimodule-book-image {
	flex: 1 0 100px;
	padding-right: 2rem;
}
.mh-minimodule-book-image img {
	display: block;
	width: 100%;
	max-width: 100%;
}
.mh-minimodule-book-text {
	font-size: 13px;
}
.mh-minimodule-book-text p {
	margin: 0;
}
.mh-minimodule-book-text-title {
	margin: 0 0 0.25em;
	text-transform: uppercase;
	line-height: 1;
	font-size: 2em;
	font-weight: 600 !important;
	font-family: Oswald, Roboto, sans-serif !important;
	color: #244e9a;
}
.mh-minimodule-book-action {
	margin-top: 0.5em;
}
/*@media screen and (max-width: 1199px) {
	.mh-minimodule-book:nth-child(2n) .mh-minimodule-book-image {
		order: 2;
		padding-right: 0;
		padding-left: 2rem;
	}	
}*/
@media screen and (min-width: 640px) {
	.mh-minimodule-book-image {
		flex-basis: 25%;
	}
	.mh-minimodule-book-text {
		padding: 2rem 0 0 0;
		font-size: 14px;
	}
}
@media screen and (min-width: 960px) {
	.mh-module-otherbooks,
	.mh-minimodule-book-text {
		font-size: 16px;
	}
	.mh-minimodule-book-image img {
		min-width: 16rem;
	}
}
@media screen and (min-width: 1200px) {
	.mh-module-otherbooks {
		padding: 6rem 2rem 2rem;
	}
	.mh-module-otherbooks-group {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		max-width: 1280px;
		margin: 0 auto;
	}
	.mh-minimodule-book {
		flex: 0 1 50%;
		max-width: none;
		margin: 6rem 0;
		padding: 0 2rem;
	}
}
@media screen and (min-width: 1600px) {
	.mh-module-otherbooks-group {
		max-width: none;
	}
	.mh-minimodule-book {
		flex-basis: 40%;
	}
	.mh-module-otherbooks,
	.mh-minimodule-book-text {
		font-size: 18px;
	}
	.mh-minimodule-book-image img {
		min-width: 20rem;
	}	
}

/* Module: Bookclub */
/* -------------------------- */
.mh-module-bookclub {
	position: relative;
	padding: 4rem 1rem;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.mh-module-bookclub > * {
	z-index: 5;
	position: relative;
}
.mh-module-bookclub-header {
	text-align: center;
	font-size: 20px;
}
.mh-module-bookclub-title,
.mh-module-bookclub-subtitle {
	display: block;
	text-transform: uppercase;
	line-height: 1;
	font-weight: 600 !important;
	font-family: Oswald, Roboto, sans-serif !important;
	text-shadow: 0 0 20px rgba(18,14,73,0.75);
}
.mh-module-bookclub-title {
	margin: 0;
}
.mh-module-bookclub-subtitle {
	color: white;
}
.mh-module-bookclub-description {
	padding: 2rem 2rem 2.75rem;
	max-width: 640px;
	max-width: 72ch;
	margin: 0 auto;
	text-align: left;
	font-size: 16px;
	color: white;
	text-shadow: 0 0 50px rgba(18,14,73,0.75);
}
.mh-module-bookclub-description > :last-child {
	margin-bottom: 0;
}
.mh-module-bookclub-form {
	max-width: 960px;
	margin: 0 auto;
}

@media screen and (max-width: 959px) {
	.mh-module-bookclub-title {
		font-size: 2.5em !important;
	}
	.mh-module-bookclub-subtitle {
		font-size: 1.25em !important;
	}
}

@media screen and (min-width: 960px) {
	.mh-module-bookclub-title {
		font-size: 4.15em !important;
	}
	.mh-module-bookclub-subtitle {
		font-size: 1.75em !important;
	}
}

@media screen and (min-width: 1400px) {
	.mh-module-bookclub-header {

	}
	.mh-module-bookclub-description {
		font-size: 20px;
	}
}

/* Module: About */
/* -------------------------- */
.mh-module-about {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: left center;
	background-repeat: no-repeat;
	padding: 2rem 0;
}
.mh-module-about > * {
	z-index: 5;
	position: relative;
}
.mh-module-about-text {
	max-width: 600px;
	max-width: 52ch;
	font-size: 16px;
	color: white;
  position: relative;
  left: 2.5%;
}
.mh-module-about-text-title,
.mh-module-about-action {
	margin: 0;
	text-transform: uppercase;
	line-height: 1;
	font-weight: 600 !important;
	font-family: Oswald, Roboto, sans-serif !important;
	text-shadow: 0 0 20px rgba(18,14,73,0.75);
}
.mh-module-about-text-description {
	padding: 2rem 0;
	text-shadow: 0 0 50px rgba(18,14,73,0.75);
}
.mh-module-about-text-description > :last-child {
	margin: 0;
}
.mh-module-about-image {
	
}
.mh-module-about-image img {
	width: 100%;
	max-width: 19rem;
	margin: 2rem;
	border-radius: 500px;
	border: 4px solid white;
}
@media screen and (max-width: 640px) {
	.mh-module-about {
		flex-direction: column;
		text-align: center;
	}
	.mh-module-about-text-description {
		padding: 2rem;
	}
	.mh-module-about-image img {
		max-width: 14rem;
	}
}
@media screen and (max-width: 959px) {
	.mh-module-about-text {
		padding: 0 1rem;
		font-size: 14px;
	}
	.mh-module-about-text-title {
		font-size: 1.5em !important;
	}
	.mh-module-about-action {
		font-size: 1em !important;
	}
}

@media screen and (min-width: 960px) {
	.mh-module-about {
		padding: 4rem;
	}
	.mh-module-about-image img {
		max-width: 22rem;
	}
	.mh-module-about-text-title {
		font-size: 2.25em !important;
	}
	.mh-module-about-text-description {
		padding: 2rem 0 2.5rem;
	}	
	.mh-module-about-action {
		font-size: 1.25em !important;
	}
}
@media screen and (min-width: 1400px) {
	.mh-module-about {
		padding: 6rem 0;
	}
	.mh-module-about-text {
		font-size: 18px;
	}	
	.mh-module-about-image img {
		max-width: 26rem;
		margin-right: 4rem;
	}	
}
@media screen and (min-width: 1600px) {
	.mh-module-about-text {
		font-size: 20px;
	}	
}

/* Module: Blog */
/* -------------------------- */
.mh-module-blog {
	padding: 4rem 0;
}
.mh-module-blog-title,
.mh-minimodule-excerpt-date,
.mh-minimodule-excerpt-title,
h3.mh-minimodule-excerpt-title a,
.mh-minimodule-excerpt-text-action {
	text-align: left;
	text-transform: uppercase;
	line-height: 1.1;
	font-weight: 600 !important;
	font-family: Oswald, Roboto, sans-serif !important;
	color: #244e9a;
}
.mh-module-blog-title {
	text-align: center;
	font-size: 2em;
	margin-bottom: 0.5em;
}
.mh-minimodule-excerpt-date {
	margin: 0;
	color: #888;
}
h3.mh-minimodule-excerpt-title {
	text-transform: none;
}
h3.mh-minimodule-excerpt-title a {
	text-transform: none;
	font-size: 1em;
}
.mh-minimodule-excerpt {
	font-size: 16px;
	max-width: 640px;
	max-width: 72ch;
	margin: 0 auto;
	padding: 4rem;
	border-bottom: 2px solid #eee;
}
.mh-minimodule-excerpt:last-child {
	border: 0;
}
.mh-minimodule-excerpt-image img {
	display: block;
	width: 100%;
	margin: 1rem 0;
}
.mh-minimodule-excerpt-text p {
	margin: 0;
}
.mh-minimodule-excerpt-text-action {
	display: inline-block;
	font-size: 1.5em;
	margin: 0.375em 0 0;
}
@media screen and (max-width: 959px) {
	.mh-minimodule-excerpt {
		font-size: 14px;
	}
	h3.mh-minimodule-excerpt-title {
		font-size: 1.5em !important;
	}
}
@media screen and (min-width: 960px) {
	h3.mh-minimodule-excerpt-title {
		font-size: 2.25em !important;
	}
}

@media screen and (min-width: 1200px) {
	.mh-module-blog-title {
		font-size: 3em !important;
	}	
}

/* Minor visual Tweaks to header / footer */
/* -------------------------- */

/* Make header Bookclub button stand out */
@media screen and (max-width: 799px) {
	#menu-item-2972 {
		margin-top: 1rem;
	}
}
@media screen and (min-width: 800px) {
	#menu-item-2972 {
		margin-left: 0.66em;
	}
}
#menu-item-2972 a {
	padding: 0.5em 1.25em;
	border-radius: 100px;
	font-size: 14px;
	font-weight: bold;
	background: #1F4889;
	color: white;	
}
#menu-item-2972 a:focus,
#menu-item-2972 a:hover {
	background: #4266b5;
}

/* Improve the search field in the footer */
.widget {
	margin: 0;
}
.widget_search .search-submit {
	overflow: visible;
	clip: none;
	position: relative;
	width: auto;
	height: auto;
	margin: 0;
	border: 0;
	padding: 0.33em 1em;
	font-size: 14px;
	font-weight: bold;
	background: #1F4889;
	color: white;
}
.site-footer .search-form {
	text-align: center;
	margin: 0 auto;
}